body{ 
    margin: 0px;
    padding: 0px;
    background: url(7c80bdf338e6189d65319f1f0928bb8b.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}
.reset{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    transform: translate(50px,50px);
    padding: 10px 30px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 20px 30px;
    padding: 0px;
}
p{
    font-weight: bold;
    color: violet;
}
.r{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
    background: transparent;
    font-size: 16px;
    color: white;
}
.a{
    border: none;
    outline: none;
    background: deepskyblue;
    color: white;
    height: 30px;
    border-radius: 20px;
    width: 100%;
    font-size: 18px;
}
.a:hover
{
    background: blue;
    cursor: pointer;
}
a{
    color:white;
}
a:hover{
    color: blue;
}